/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark-grey: #293449;
  --basic-grey: #32425c;
  --old-price-light-grey: #a9a9a9;
  --basic-light-grey: #f9f5f0;
  --basic-white: #ffffff;

  --lnk-catalog-background: rgba(255, 255, 255, 0.3);
  --lnk-catalog-hover-background: rgba(197, 197, 197, 0.3);
  --lnk-catalog-active-background: rgba(169, 169, 169, 0.3);
  --lnk-active-grey: rgba(255, 255, 255, 0.5);
  --lnk-hover-active-grey: #c5c5c5;
  --lnk-pagination-grey: #e5e5e5;

  --basic-blue: #3bbce3;
  --basic-light-blue: #f1f5f7;
  --basic-lighter-blue: #f2f6f8;

  --basic-darker-red: #ba2732;
  --basic-dark-red: #ca2c37;
  --basic-red: #ee3643;

  --btn-darker-green: #367315;
  --btn-dark-green: #518534;
  --btn-green: #63a63e;
  --btn-light-green: #5fbb2d;
  --basic-lighter-green: #8ed78f;

  --basic-yellow: #ffbf47;
  --basic-light-yellow: #ffc047;
  --basic-lighter-yellow: #ffd180;

  --basic-pink: #dc91d8;

  --basic-light-grey-form: #f7f3ec;
  --black-opacity-3: rgba(0, 0, 0, 0.3);
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Header-top */

.header-top {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-dark-grey);
}

.logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.logo:active {
  background-color: var(--basic-darker-red);
}

.search-field {
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-dark-grey);
  border: none;
}

.search-field::placeholder {
  font: inherit;
  color: var(--basic-white);
}

.search-field:focus {
  color: var(--basic-black);
  border-color: var(--basic-white);
  background-color: var(--basic-white);
  outline: none;
}

.search-field:focus::placeholder {
  color: var(--basic-black);
}

.header-top-link {
  font: inherit;
  text-decoration: none;
  color: var(--basic-white);
  cursor: pointer;
}

.header-top-link:active {
  color: var(--lnk-active-grey);
  background-color: var(--basic-black);
}

.header-ordering {
  background-color: var(--btn-green);
}

.header-ordering:hover {
  background-color: var(--btn-light-green);
}

/* Header-middle */

.header {
  background-color: var(--basic-lighter-blue);
}

.header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-phone {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
}

.header-address {
  font: inherit;
  font-size: 14px;
}

.header-btn {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header-btn:hover {
  color: var(--basic-red);
}

.header-btn:active {
  color: var(--lnk-hover-active-grey);
}

/* Main navigation */

.main-navigation {
  background-color: var(--basic-grey);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  cursor: pointer;
}

.navigation-link:hover {
  background-color: var(--basic-dark-grey);
}

.navigation-link:active {
  color: var(--lnk-active-grey);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
}

.catalog-slider {
  background-color: var(--basic-dark-grey);
}

.catalog-slider input[type="radio"] {
  display: none;
}

.catalog-slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
  position: relative;
  cursor: pointer;
}

#catalog-slider-btn-1:checked ~ .catalog-slider-controls label[for="catalog-slider-btn-1"]::after,
#catalog-slider-btn-2:checked ~ .catalog-slider-controls label[for="catalog-slider-btn-2"]::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--basic-red);
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
}

.btn-slider-previous {
  border: none;
  border-bottom: 3px solid var(--basic-white);
  border-left: 3px solid var(--basic-white);
  background-color: transparent;
  transform: rotate(45deg);
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.btn-slider-next {
  border: none;
  border-bottom: 3px solid var(--basic-white);
  border-right: 3px solid var(--basic-white);
  background-color: transparent;
  transform: rotate(-45deg);
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.btn-slider-previous:focus,
.btn-slider-next:focus {
  outline: none;
}

.catalog-slide-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.catalog-slide-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.catalog-cards-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.new::before {
  content: "NEW";
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.card-item-yellow {
  background-color: var(--basic-yellow);
}

.card-item-blue {
  background-color: var(--basic-blue);
}

.card-item-pink {
  background-color: var(--basic-pink);
}

.card-item-green {
  background-color: var(--basic-lighter-green);
}

.card-item-light-yellow {
  background-color: var(--basic-light-yellow);
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.card-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--lnk-catalog-background);
  cursor: pointer;
}

.card-link:hover {
  background-color: var(--lnk-catalog-hover-background);
}

.card-link:active {
  background-color: var(--lnk-catalog-active-background);
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.btn:hover {
  background-color: var(--basic-dark-red);
}

.btn:active {
  background-color: var(--basic-darker-red);
}

/* Product */

.product {
  background-color: var(--basic-white);
}

.section-header {
  background-color: var(--basic-light-grey);
}

.section-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-hover {
  display: none;
}

.btn-green {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--btn-green);
  box-shadow: inset 0px -3px 0px var(--btn-darker-green);
}

.btn-green:hover {
  background-color: var(--btn-light-green);
}

.btn-green:active {
  background-color: var(--btn-dark-green);
}

.btn-green-border {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: 3px solid var(--btn-green);
  box-sizing: border-box;
}

.btn-green-border:hover {
  border-color: var(--basic-grey);
}

.btn-green-border:active {
  opacity: 0.5;
}

.product-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  cursor: pointer;
}

.product-old-price {
  text-decoration: line-through;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--old-price-light-grey);
}

.product-price {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  display: inline-block;
  width: 122px;
  height: 38px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.product-price::after {
  content: "";
  border: 19px solid var(--basic-red);
  border-right-width: 0;
  border-bottom-color: transparent;
  border-top-color: transparent;
  position: absolute;
  left: 122px;
  top: 0px;
}

/* Brands */

.brands-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Services */

.services {
  background-color: var(--basic-light-blue);
}

.services-slider input[type="radio"] {
  display: none;
}

.services-slider-controls label {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-grey);
  cursor: pointer;
}

.services-slider-controls label:hover {
  background-color: var(--basic-dark-grey);
}

#slider-btn-delivery:checked~.services-slider-controls label[for="slider-btn-delivery"],
#slider-btn-warranty:checked~.services-slider-controls label[for="slider-btn-warranty"],
#slider-btn-credit:checked~.services-slider-controls label[for="slider-btn-credit"] {
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

/* Company-Contacts */

.company-contacts {
  background-color: var(--basic-white);
}

.section-text {
  font: inherit;
  font-family: "PT Sans", Arial, sans-serif;
}

.delivery-companies {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}

.delivery-company-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

/* Footer */

.page-footer {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-blue);
}

.footer-top {
  background-color: var(--basic-grey);
}

.footer-bottom {
  background-color: var(--basic-dark-grey);
}

.footer-address {
  font: inherit;
}

.footer-phone {
  text-decoration: none;
  font: inherit;
  color: var(--basic-light-blue);
}

.footer-navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation-link {
  text-decoration: none;
  font: inherit;
  color: var(--basic-light-blue);
  cursor: pointer;
}

.footer-navigation-link:hover {
  text-decoration: underline;
}

.footer-navigation-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-catalog-link {
  text-decoration: none;
  font: inherit;
  color: var(--basic-lighter-yellow);
  cursor: pointer;
}

.footer-catalog-link:hover {
  text-decoration: underline;
}

.footer-catalog-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-link {
  text-decoration: none;
  color: var(--basic-white);
  cursor: pointer;
}

.footer-social-link:hover {
  color: var(--basic-red);
}

.footer-social-link:active {
  color: var(--basic-red);
}

.footer-contacts-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-contacts-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-lighter-yellow);
}

.footer-contacts-link:hover {
  text-decoration: underline;
}

.footer-contacts-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Catalog-header*/

.lnk-userdata {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

.lnk-userdata:hover {
  color: var(--basic-red);
}

.lnk-userdata:active {
  color: var(--lnk-hover-active-grey);
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  cursor: pointer;
}

.products-sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-sort {
  background-color: var(--basic-light-grey-form);
}

.products-sort-title {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.products-sort-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: var(--black-opacity-3);
  border-bottom: 1px dotted var(--basic-red);
  cursor: pointer;
}

.products-sort-link:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.products-sort-link-active {
  border-bottom: none;
  color: var(--basic-red);
}

.sort-arrow-up {
  display: inline-block;
  text-decoration: none;
  border-top-width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--lnk-hover-active-grey);
}

.sort-arrow-down {
  display: inline-block;
  text-decoration: none;
  width: 0;
  height: 0;
  border-bottom-width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--lnk-hover-active-grey);
}

.sort-arrow-up:hover,
.sort-arrow-down:hover {
  border-top-color: var(--basic-black);
  border-bottom-color: var(--basic-black);
}

.sort-arrow-active {
  border-top-color: var(--basic-red);
  border-bottom-color: var(--basic-red);
}

.catalog-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-link {
  text-decoration: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--lnk-pagination-grey);
  cursor: pointer;
}

.page-link:hover {
  border: 1px solid var(--lnk-hover-active-grey);
}

.page-link:active {
  border: 1px solid var(--basic-red);
}

.page-link-active {
  background-color: var(--basic-red);
}

.about-products {
  background-color: var(--basic-light-blue);
}
