/* Variables */

:root {
  --basic-black: #000000;
  --social-link-black: #212a3a;
  --basic-dark-grey: #293449;
  --basic-grey: #32425c;
  --label-border-grey: #405069;
  --old-price-light-grey: #a9a9a9;
  --toggle-grey: #ababab;
  --scale-light-grey: #d7dcde;
  --card-border-light-grey: #eaeaea;
  --basic-light-grey: #f9f5f0;
  --basic-white: #ffffff;

  --lnk-catalog-background: rgba(255, 255, 255, 0.3);
  --lnk-catalog-hover-background: rgba(197, 197, 197, 0.3);
  --lnk-catalog-active-background: rgba(169, 169, 169, 0.3);
  --lnk-active-grey: rgba(255, 255, 255, 0.5);
  --lnk-hover-active-grey: #c5c5c5;
  --lnk-pagination-grey: #e5e5e5;

  --basic-blue: #3bbce3;
  --basic-light-blue: #f1f5f7;
  --basic-lighter-blue: #f2f6f8;

  --basic-darker-red: #ba2732;
  --basic-dark-red: #ca2c37;
  --basic-red: #ee3643;
  --btn-red-service-credit: #ff5357;

  --btn-darker-green: #367315;
  --btn-dark-green: #518534;
  --btn-green: #63a63e;
  --btn-light-green: #5fbb2d;
  --basic-lighter-green: #8ed78f;

  --basic-yellow: #ffbf47;
  --basic-light-yellow: #ffc047;
  --basic-lighter-yellow: #ffd180;

  --basic-pink: #dc91d8;

  --basic-light-grey-form: #f7f3ec;
  --breadcrumb-grey: #c1c6ce;
  --black-opacity-3: rgba(0, 0, 0, 0.3);
  --black-shadow-product-card: rgba(0, 0, 0, 0.15);
}

/* Global */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    42px max-content max-content 60px;
  background-color: var(--basic-lighter-blue);
}

/* Header-top */

.header-top {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-dark-grey);
}

.header-top-menu {
  display: grid;
  grid-template-columns: repeat(5, min-content);
}

.logo {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  display: inline-block;
  width: 220px;
  height: 47px;
  padding: 12px 57px 17px 55px;
  box-sizing: border-box;
}

.logo:active {
  background-color: var(--basic-darker-red);
}

.header-search-field {
  position: relative;
}

.header-search-field svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-field {
  font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-dark-grey);
  border: none;
  display: inline-block;
  width: 270px;
  height: 42px;
  margin: 0;
  padding: 9px 0 9px 42px;
  box-sizing: border-box;
}

.search-field::placeholder {
  font: inherit;
  color: var(--basic-white);
}

.search-field:focus {
  color: var(--basic-black);
  border-color: var(--basic-white);
  background-color: var(--basic-white);
  outline: none;
}

.search-field:focus::placeholder {
  color: transparent;
}

.search-field:focus+svg path {
  fill: var(--basic-red);
}

.search-field:focus+svg g {
  opacity: 1;
}

.header-top-link {
  font: inherit;
  text-decoration: none;
  color: var(--basic-white);
  display: inline-block;
  width: 150px;
  height: 42px;
  padding: 9px 17px;
  box-sizing: border-box;
  cursor: pointer;
}

.header-top-link:active {
  color: var(--lnk-active-grey);
  background-color: var(--basic-black);
}

.header-bookmarks {
  display: inline-block;
  width: 164px;
  height: 42px;
  padding: 9px 24px 9px 43px;
  background-color: var(--basic-dark-grey);
}

.header-cart {
  display: inline-block;
  width: 136px;
  height: 42px;
  padding: 10px 20px 9px 35px;
  background-color: var(--basic-dark-grey);
}

.header-ordering {
  background-color: var(--btn-green);
  padding: 9px 16px 9px 19px;
}

.header-ordering:hover {
  background-color: var(--btn-light-green);
}

/* Header-middle */

.header-middle {
  display: flex;
  padding-top: 46px;
  padding-bottom: 40px;
  justify-content: space-between;
}

.header-text {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  width: 197px;
  margin: 0 0 0 30px;
  padding: 0;
}

.header-middle-contacts {
  margin-left: 35px;
}

.header-phone {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  display: inline-block;
  padding: 5px 42px 5px 71px;
  width: 270px;
  box-sizing: border-box;
  background-image: url('../img/icon-phone.svg');
  background-repeat: no-repeat;
  background-position: 36px 10px;
}

.header-address {
  font: inherit;
  font-size: 14px;
  width: 270px;
  margin: 2px 0 0 11px;
}

.header-btn {
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.header-btn:hover {
  color: var(--basic-red);
}

.header-btn:active {
  color: var(--lnk-hover-active-grey);
}

.btn-login {
  display: inline-block;
  padding: 12px 27px 12px 45px;
  margin-right: 7px;
  width: 120px;
  box-sizing: border-box;
  position: relative;
}

.btn-login svg {
  position: absolute;
  top: 14px;
  left: 19px;
}

.btn-login:hover path {
  fill: var(--basic-black);
}

.btn-registration {
  display: inline-block;
  padding: 12px 24px;
  width: 150px;
  box-sizing: border-box;
}

.header-buttons-username {
  width: 299px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -18px;
}

.btn-username {
  align-self: start;
  display: inline-block;
  width: 299px;
  padding: 12px 56px;
  box-sizing: border-box;
  position: relative;
}

.btn-username svg {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 15px;
}

.btn-username:hover {
  color: var(--basic-black);
}

.btn-username:hover path {
  fill: var(--basic-grey);
}

.btn-exit {
  display: block;
  margin-left: -46px;
  width: 46px;
  height: 45px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.btn-exit svg {
  position: absolute;
  top: 14px;
  left: 9px;
}

.btn-exit:hover path {
  fill: var(--basic-grey);
}

.lnk-my-orders::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-black);
  margin: 10px 3px 3px 14px;
}

.lnk-my-cabinet {
  margin-top: 5px;
  margin: 4px 0 0 11px;
}

/* Main navigation */

.main-navigation {
  background-color: var(--basic-grey);
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0 26px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.navigation-item {
  display: flex;
  padding: 0 3px;
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  cursor: pointer;
  padding: 17px 25px 19px;
}

.navigation-link:hover {
  background-color: var(--basic-dark-grey);
}

.navigation-link:active {
  color: var(--lnk-active-grey);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
  margin-top: 59px;
  margin-bottom: 59px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-cards-list-top {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  order: -1;
  flex-wrap: wrap;
}

.catalog-cards-list-right {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catalog-slider {
  background-color: var(--basic-dark-grey);
  width: 620px;
  position: relative;
  align-self: flex-start;
}

.catalog-slider-inner {
  overflow: hidden;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.catalog-slider-slides {
  width: 200%;
  display: flex;
  flex-direction: row;
}

.catalog-slider-slide {
  display: grid;
  grid-template-columns: 24px 596px;
  grid-template-rows:
    23px 42px 136px 38px 27px;
}

.catalog-slide-image {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.catalog-slide-title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.catalog-slide-text {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.btn-catalog {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.catalog-slider input[type="radio"] {
  display: none;
}

.catalog-slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
  position: relative;
  cursor: pointer;
  z-index: 2;
}

#catalog-slider-btn-1:checked~.catalog-slider-controls label[for="catalog-slider-btn-1"]::after,
#catalog-slider-btn-2:checked~.catalog-slider-controls label[for="catalog-slider-btn-2"]::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--basic-red);
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
}

.btn-slider-previous {
  border: none;
  border-bottom: 3px solid var(--basic-white);
  border-left: 3px solid var(--basic-white);
  background-color: transparent;
  transform: rotate(45deg);
  width: 27px;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 129px;
  left: 30px;
  z-index: 2;
}

.btn-slider-next {
  border: none;
  border-bottom: 3px solid var(--basic-white);
  border-right: 3px solid var(--basic-white);
  background-color: transparent;
  transform: rotate(-45deg);
  width: 27px;
  height: 27px;
  cursor: pointer;
  position: absolute;
  top: 129px;
  right: 27px;
  z-index: 2;
}

.catalog-slider-controls {
  width: 30px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 295px;
  bottom: 36px;
}

.btn-slider-previous:focus,
.btn-slider-next:focus {
  outline: none;
}

.catalog-slide-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  z-index: 1;
}

.catalog-slide-text {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  z-index: 1;
}

#catalog-slider-btn-1:checked~.catalog-slider-inner .catalog-slider-slides {
  transform: translate(0);
}

#catalog-slider-btn-2:checked~.catalog-slider-inner .catalog-slider-slides {
  transform: translate(-620px);
}

.catalog-cards-list-top .card-item {
  margin: 0 20px 20px 0;
}

.catalog-cards-list-top .card-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-cards-list-right .card-item {
  margin: 0 0 20px 20px;
}

.catalog-cards-list-right .card-item:last-child {
  margin-bottom: 0;
}

.card-item {
  width: 300px;
  padding: 20px 23px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.new::before {
  content: "NEW";
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 100px;
  height: 30px;
  padding-top: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  right: -27px;
  top: 8px;
}

.card-item-yellow {
  background-color: var(--basic-yellow);
}

.card-item-blue {
  background-color: var(--basic-blue);
}

.card-item-pink {
  background-color: var(--basic-pink);
}

.card-item-green {
  background-color: var(--basic-lighter-green);
}

.card-item-light-yellow {
  background-color: var(--basic-light-yellow);
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  width: 137px;
  box-sizing: border-box;
  margin: 0 0 13px 0;
  padding: 0;
}

.card-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--lnk-catalog-background);
  cursor: pointer;
  display: inline-block;
  width: 135px;
  text-align: center;
  padding: 11px 0;
  box-sizing: border-box;
}

.card-link:hover {
  background-color: var(--lnk-catalog-hover-background);
}

.card-link:active {
  background-color: var(--lnk-catalog-active-background);
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  display: inline-block;
  width: 192px;
  padding: 11px 0 9px;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
}

.btn:hover {
  background-color: var(--basic-dark-red);
}

.btn:active {
  background-color: var(--basic-darker-red);
}

/* Product */

.product {
  background-color: var(--basic-white);
  margin-bottom: 50px;
}

.section-header {
  background-color: var(--basic-light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px 14px 26px 28px;
}

.section-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-grey);
  letter-spacing: -0.8px;
  margin: 0;
  padding: 0;
}

.btn-product {
  flex-shrink: 0;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid var(--card-border-light-grey);
  width: 220px;
  min-height: 318px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 18px;
}

.product-list .product-item {
  margin: 0 20px 20px 0;
}

.product-list .product-item:nth-child(4n) {
  margin-right: 0;
}

.product-item:hover {
  box-shadow: 0px 4px 20px var(--black-shadow-product-card);
}

.product-item:hover .product-hover {
  display: flex;
}

.product-item:hover .product-image {
  display: none;
}

.product-hover {
  width: 100%;
  height: 139px;
  margin-bottom: 18px;
  padding-top: 17px;
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.btn-green {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--btn-green);
  box-shadow: inset 0px -3px 0px var(--btn-darker-green);
  display: inline-block;
  width: 135px;
  height: 38px;
  margin-bottom: 10px;
  padding: 10px 7px 10px 52px;
  box-sizing: border-box;
  overflow: hidden;
}

.btn-green:hover {
  background-color: var(--btn-light-green);
}

.btn-green:active {
  background-color: var(--btn-dark-green);
}

.btn-green-border {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-grey);
  background-color: var(--basic-white);
  border: 3px solid var(--btn-green);
  display: inline-block;
  width: 135px;
  height: 38px;
  padding: 8px 7px 9px 29px;
  box-sizing: border-box;
  overflow: hidden;
}

.btn-green-border:hover {
  border-color: var(--basic-grey);
}

.btn-green-border:active {
  opacity: 0.5;
}

.product-image {
  width: 100%;
  height: 139px;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.product-link {
  text-decoration: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  cursor: pointer;
  width: 160px;
  margin-top: 3px;
  margin-bottom: 6px;
  align-self: center;
  text-align: center;
}

.product-old-price {
  text-decoration: line-through;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--old-price-light-grey);
  margin: 0;
  padding: 0;
  align-self: center;
}

.product-price {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 4px 0 0 4px;
  display: inline-block;
  width: 122px;
  margin: auto 6px 0 0;
  padding: 10px 0 10px 34px;
  box-sizing: border-box;
  align-self: center;
  position: relative;
}

.product-price::after {
  content: "";
  border: 19px solid var(--basic-red);
  border-right-width: 0;
  border-bottom-color: transparent;
  border-top-color: transparent;
  position: absolute;
  left: 122px;
  top: 0px;
}

/* Brands */

.brands {
  margin-bottom: 50px;
}

.btn-brands {
  flex-shrink: 0;
  margin-right: 5px;
  margin-bottom: 1px;
}

.brands-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.brand-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--card-border-light-grey);
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 20px;
}

.brand-item:nth-child(4n) {
  margin-right: 0;
}

.brand-link {
  display: block;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Services */

.services {
  background-color: var(--basic-light-blue);
  width: 100%;
  margin-bottom: 70px;
  padding-top: 64px;
  padding-bottom: 55px;
}

.services-inner {
  display: flex;
  flex-direction: column;
}

.services-inner .section-title {
  margin-bottom: 25px;
  width: 700px;
}

.services-inner .section-text {
  width: 700px;
}

.services-slider {
  width: 620px;
  margin-top: 68px;
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: 320px 1fr;
}

.services-slider input[type="radio"] {
  display: none;
}

.services-slider-inner {
  overflow: hidden;
  width: 620px;
  grid-row: 2 / -1;
  grid-column: 2 / -1;
}

.services-slider-slides {
  width: 300%;
  display: grid;
  grid-template-columns: repeat(3, min-content);
}

.service-slide {
  width: 620px;
  display: flex;
  flex-direction: column;
}

.service-slide-title {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 30px 0;
  padding: 0;
}

.service-slide .section-text {
  width: 318px;
}

.btn-service-credit {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--btn-red-service-credit);
  padding: 10px 44px 11px 46px;
  border-radius: 3px;
  align-self: start;
  margin-top: 25px;
}

.services-slider-controls {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  margin-top: 4px;
}

.services-slider-controls label {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-grey);
  cursor: pointer;
  width: 240px;
  padding: 13px 0 18px 22px;
  box-sizing: border-box;
  display: flex;
}

.services-slider-controls label:not(:checked) {
  box-shadow: 0px 1px 0px var(--basic-dark-grey), inset 0px 1px 0px var(--label-border-grey);
}

.services-slider-controls label:hover {
  background-color: var(--basic-dark-grey);
  box-shadow: 0px 1px 0px var(--basic-dark-grey), inset 0px 1px 0px var(--label-border-grey);
}

#slider-btn-delivery:checked~.services-slider-controls label[for="slider-btn-delivery"],
#slider-btn-warranty:checked~.services-slider-controls label[for="slider-btn-warranty"],
#slider-btn-credit:checked~.services-slider-controls label[for="slider-btn-credit"] {
  color: var(--basic-grey);
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white);
}

#slider-btn-delivery:checked~.services-slider-inner .services-slider-slides {
  transform: translate(0);
}

#slider-btn-warranty:checked~.services-slider-inner .services-slider-slides {
  transform: translate(-620px);
}

#slider-btn-credit:checked~.services-slider-inner .services-slider-slides {
  transform: translate(-1240px);
}

/* Company-Contacts */

.company-contacts {
  background-color: var(--basic-white);
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company {
  width: 500px;
}

.title-company {
  margin-bottom: 24px;
}

.section-text {
  font: inherit;
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.text-company-top {
  margin-bottom: 26px;
}

.text-company-bottom {
  margin-bottom: 3px;
}

.delivery-companies {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0 0 18px 0;
  padding: 0;
}

.delivery-company-item {
  margin-bottom: 12px;
}

.delivery-company-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.title-contacts {
  margin-bottom: 24px;
}

.text-contacts {
  margin-bottom: 33px;
}

.map-contacts {
  margin-bottom: 16px;
}

.btn-company {
  width: 220px;
}

.contacts {
  width: 300px;
}

.btn-contacts {
  width: 300px;
}

/* Footer */

.page-footer {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-blue);
}

.footer-top {
  background-color: var(--basic-grey);
}

.footer-bottom {
  background-color: var(--basic-dark-grey);
}

.footer-top-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
}

.footer-top-left {
  width: 330px;
  flex-shrink: 0;
}

.logo-footer {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  display: inline-block;
  width: 220px;
  height: 68px;
  padding: 20px 41px 25px 41px;
  box-sizing: border-box;
  flex-shrink: 0;
  margin-bottom: 23px;
}

.logo-footer:active {
  background-color: var(--basic-darker-red);
}

.footer-address {
  font: inherit;
  margin-left: 3px;
}

.footer-phone {
  text-decoration: none;
  font: inherit;
  color: var(--basic-light-blue);
  margin-left: 3px;
}

.footer-top-right {
  width: 550px;
  padding-top: 38px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  flex-wrap: wrap;
}

.footer-navigation-list {
  list-style: none;
  margin: 0 0 14px 0;
  padding: 0;
  width: 547px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-navigation-link {
  text-decoration: none;
  font: inherit;
  color: var(--basic-light-blue);
  cursor: pointer;
}

.footer-navigation-link:hover {
  text-decoration: underline;
}

.footer-navigation-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 524px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-catalog-link {
  text-decoration: none;
  font: inherit;
  color: var(--basic-lighter-yellow);
  cursor: pointer;
}

.footer-catalog-link:hover {
  text-decoration: underline;
}

.footer-catalog-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom-inner {
  padding: 33px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  width: 228px;
  margin: 3px 0 0 0;
  padding: 0;
}

.footer-social-list {
  list-style: none;
  margin: 0 0 0 43px;
  padding: 0;
  width: 134px;
  display: flex;
  justify-content: space-between;
}

.footer-social-link {
  width: 44px;
  height: 44px;
  display: block;
  background-color: var(--social-link-black);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.footer-social-link:hover {
  background-color: var(--basic-red);
}

.footer-social-link:active {
  background-color: var(--basic-red);
}

.social-link-vk {
  background-image: url('../img/icon-vk.svg');
}

.social-link-fb {
  background-image: url('../img/icon-fb.svg');
}

.social-link-in {
  background-image: url('../img/icon-insta.svg');
}

.footer-bottom-right {
  width: 286px;
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  padding: 0 13px 0 0;
}

.footer-contacts-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  margin: 0 0 -3px 0;
  padding: 0;
}

.footer-contacts-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-lighter-yellow);
  margin: 0;
  padding: 0;
}

.footer-contacts-link:hover {
  text-decoration: underline;
}

.footer-contacts-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Catalog-header*/

.header-cart-active {
  background-color: var(--basic-red);
}

.lnk-userdata {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

.lnk-userdata:hover {
  color: var(--basic-red);
}

.lnk-userdata:active {
  color: var(--lnk-hover-active-grey);
}

/* Catalog - Page */

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 18px 0 17px 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb-item:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 1px solid var(--breadcrumb-grey);
  border-bottom: 1px solid var(--breadcrumb-grey);
  transform: rotate(-45deg);
  margin-right: 15px;
  margin-left: 16px;
}

.breadcrumb-item:first-child {
  margin-top: 2px;
  margin-right: -2px;
}

.breadcrumb-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  cursor: pointer;
}

.catalog-section-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: var(--basic-grey);
  width: 100%;
  margin: 0 0 19px 0;
  padding: 29px;
  box-sizing: border-box;
  background-color: var(--basic-lighter-blue);
}

/* Filters */

.filter-catalog-products {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.products-filter {
  width: 220px;
}

.filter-title {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey-form);
  margin: 0 0 13px 0;
  padding: 10px 18px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset:first-child {
  padding-bottom: 26px;
  border-bottom: 1px solid var(--black-shadow-product-card);
  margin-bottom: 15px;
}

.filter fieldset:nth-child(2) {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--black-shadow-product-card);
  margin-bottom: 17px;
}

.filter legend {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color: var(--basic-black);
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-light-grey-form);
  border-radius: 4px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.scale {
  height: 2px;
  background-color: var(--scale-light-grey);
}

.bar {
  width: 85%;
  height: 2px;
  background-color: var(--btn-light-green);
}

.toggle {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-grey);
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--breadcrumb-grey);
  position: absolute;
  top: 30px;
  left: 0;
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-controls input {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-black);
  width: 95px;
  background-color: var(--basic-light-grey-form);
  padding: 10px 5px 10px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  text-align: center;
}

.price-controls span {
  margin-top: 8px;
}

.filter-brands-list {
  list-style: none;
  margin: 18px 0 0 0;
  padding: 0;
}

.filter-brand-item {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-brand-item label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-brand-checkbox+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-image: url('../img/checkbox-off-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-brand-checkbox:hover+label::before {
  background-image: url('../img/checkbox-off-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 -44px;
}

.filter-brand-checkbox:disabled+label::before {
  background-image: url('../img/checkbox-off-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 -88px;
}

.filter-brand-checkbox:checked+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-image: url('../img/checkbox-on-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-brand-checkbox:checked:hover+label::before {
  background-image: url('../img/checkbox-on-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 -44px;
}

.filter-brand-checkbox:checked:disabled+label::before {
  background-image: url('../img/checkbox-on-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 -88px;
}

.filter-power-list {
  list-style: none;
  margin: 24px 0 0 0;
  padding: 0;
}

.filter-power-item {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 22px;
  padding-left: 35px;
}

.filter-power-item label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-power-radio+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-image: url('../img/radio-off-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-power-radio:hover+label::before {
  background-image: url('../img/radio-off-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 -44px;
}

.filter-power-radio:disabled+label::before {
  background-image: url('../img/radio-off-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 -88px;
}

.filter-power-radio:checked+label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  background-image: url('../img/radio-on-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-power-radio:checked:hover+label::before {
  background-image: url('../img/radio-on-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 -44px;
}

.filter-power-radio:checked:disabled+label::before {
  background-image: url('../img/radio-on-sprite.svg');
  background-repeat: no-repeat;
  background-position: 0 -88px;
}

.filter-btn {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--lnk-pagination-grey);
  width: 220px;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.filter-btn:hover {
  border: 1px solid var(--lnk-hover-active-grey);
}

.filter-btn:focus {
  outline: 1px solid var(--basic-red);
}

/* Catalog-products */

.catalog-products {
  width: 700px;
}

.products-sort {
  background-color: var(--basic-light-grey-form);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 16px 7px 20px;
  margin-bottom: 28px;
}

.products-sort-title {
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  width: 175px;
  margin: 0;
  padding: 0;
}

.products-sort-list {
  list-style: none;
  width: 354px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-sort-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: var(--black-opacity-3);
  border-bottom: 1px dotted var(--basic-red);
  cursor: pointer;
}

.products-sort-link:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.products-sort-link-active {
  border-bottom: none;
  color: var(--basic-red);
}

.products-sort-arrows {
  list-style: none;
  width: 43px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-arrow-up {
  display: inline-block;
  text-decoration: none;
  border-top-width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--lnk-hover-active-grey);
}

.sort-arrow-down {
  display: inline-block;
  text-decoration: none;
  width: 0;
  height: 0;
  border-bottom-width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--lnk-hover-active-grey);
}

.sort-arrow-up:hover,
.sort-arrow-down:hover {
  border-top-color: var(--basic-black);
  border-bottom-color: var(--basic-black);
}

.sort-arrow-active {
  border-top-color: var(--basic-red);
  border-bottom-color: var(--basic-red);
}

.catalog-products-list {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.catalog-products-list .product-item {
  margin: 0 20px 18px 0;
}

.catalog-products-list .product-item:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.page-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
  padding: 9px 15px 10px 15px;
  border: 1px solid var(--lnk-pagination-grey);
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.page-link-wide {
  padding: 9px 31px 10px 31px;
}

.page-link:hover {
  border: 1px solid var(--lnk-hover-active-grey);
}

.page-link:active {
  border: 1px solid var(--basic-red);
}

.page-link-active {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.about-products {
  background-color: var(--basic-light-blue);
  padding-top: 65px;
  padding-bottom: 70px;
}

.about-products-title {
  margin: 0 0 24px 0;
  padding: 0;
}

.about-products-text {
  margin: 0;
  padding: 0;
}
